// colors
$grey: #707070;
$light-grey: #F0F0F0;

$light-white: #FAFAFA;
$white: #FFFFFF;

$green: #2D6A4F;
$red: #F04D4D;
$blue: #0080FF;
$black: #000000;

// font size
$font-size-small: 15px;
$font-size-normal: 20px;
$font-size-medium: 23px;
$font-size-large: 45px;
$font-size-l-large: 60px;
$font-size-x-large: 80px;

$font-size-title: 100px;
$font-size-x-title: 285px;

// font weight
$normal: 500;
$bold: 600;
$x-bold: 800;

// grid
$gutter-size: 125px;
$gap-size: 20px;

// margin
$margin-x-small: 10px;
$margin-small: 20px;
$margin-normal: 30px;
$margin-medium: 40px;
$margin-large: 60px;
$margin-x-large: 132px;

// typos
@font-face {
    font-family: 'Bigilla';
    src: local('../fonts/Bigilla-Bold.otf') format('otf');
}

@font-face {
    font-family: 'Montserrat';
    src: local('../fonts/Montserrat-Regular.ttf') format('otf');
}

$title-font: 'Bigilla';
$text-font: 'Montserrat';

// style global
.special_text {
    color: $green;
}