// colors
$grey: #707070;
$light-grey: #F0F0F0;

$light-white: #FAFAFA;
$white: #FFFFFF;

$green: #2D6A4F;
$red: #F04D4D;
$blue: #0080FF;
$black: #000000;

// font size
$font-size-small: 1rem;
$font-size-normal: 1.2rem;
$font-size-medium: 1.3rem;
$font-size-large: 3.4rem;
$font-size-l-large: 4.3rem;
$font-size-x-large: 5rem;

$font-size-title: 6.25rem;
$font-size-x-title: 17.8rem;

// font weight
$normal: 500;
$bold: 600;
$x-bold: 800;

// grid
$gutter-size: 125px;
$gap-size: 20px;

// margin
$margin-x-small: 0.6rem;
$margin-small: 1.25rem;
$margin-normal: 1.8rem;
$margin-medium: 2.5rem;
$margin-large: 3.75rem;
$margin-x-large: 8.25rem;

// font familly
$title-font: 'Bigilla-bold';
$text-font: 'Montserrat-light';
$text-font-regular: 'Montserrat-regular';

// style global
.special_text {
    color: $green;
}